*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
}
#box{
    width: 498px;
    height: 400px;
    /*border: 1px solid green;*/
}
.box-header{
    /*border: 1px solid red;*/
    background: #cccccc;

}
.box-header ul{
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-around;
    align-items: center;
    background: #cccccc;
    height: 30px;
}
.box-header ul li{
    /*float: left;*/
    /*text-align: center;*/
    width: 98px;
    text-align: center;

}
.box-header ul li:hover{
    width: 100px;
    background: #ffffff;
    border-bottom: none;
    boder-left:1px solid gray;
    color: red;
    font-size: 20px;
}
